a:focus, a:hover, #site-title a:hover, #site-title a:active, .entry-title a:hover, .entry-title a:focus, .entry-title a:active, .widget_catchbox_ephemera .comments-link a:hover, section.recent-posts .other-recent-posts a[rel="bookmark"]:hover, section.recent-posts .other-recent-posts .comments-link a:hover, .format-image footer.entry-meta a:hover, #site-generator a:hover {
	color: rgb(174,138,106);
}
section.widget {
	border-bottom: none;
	background-color: transparent;
	position: relative;
}
.widget-area .widget.widget_stories_widget {
	margin-bottom: 0;
}
.sidebar-primary .widget_diary_widget h4:before {
	/*border-top: 1px solid #ccc;*/
	background: url('https://meorot.sf-f.org.il/2021/wp-content/uploads/2021/09/קו-הפרדה.png') no-repeat top center;
	content: " ";
	display: block;
	height: 84px;
	width: 226px;
	margin: auto;
}
.cursorPointer {
	cursor: pointer;
}


.site {
	width: 1059px !important;
}
.widget_search form {
	width: 80%;
  margin: auto;
}
#hgroup #site-title a {
   font-size: 3.733rem;
}
#hgroup #site-description {
  font-size: 2.5rem;
}


div#page, div#main, header#branding, article.hentry, div#site-generator, div#supplementary {
	border-bottom: none;
}
div#main {
	background: url(images/bodyBgTop.png) top center no-repeat,	url(images/bodyBgBottomRightCorner.png) bottom right no-repeat #000;
	padding-top: 56px;
  padding-bottom: 140px;
	position: relative;
  right: 5px;
}
aside#secondary {
	background-image: url(images/bodyBgBottomLeft2.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	width: 380px;
}
/*div#supplementary {
	display: none;
}*/
.sectionLike {
	border: 1px solid red;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	background-image: inherit;
	background-position: inherit;
	background-repeat: inherit;
}

div#site-generator {
	padding: 0;
	border: none;
	position: absolute;
  top: -34px;
  left: 0;
  width: 100px !important;
}
footer#colophon {
  position: relative;
  top: -71px;
  border: none;
	width: 92%;
	margin: auto;
}
#site-generator div.copyright, #site-generator div.powered {
	display: none;
}

.stories_list li {
	list-style: url("images/icon-star.png");
}
.stories_list li a {
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
}
.single-stories_project .entry-content p {
	margin: 0;
}
.single-stories_project .alignright {
	float: right !important;
}
.single-stories_project .alignleft {
	float: left !important;
}


@media screen and (max-width: 960px) {
	.site, header#branding {
		width: 100vw !important;
	}


	#hgroup #site-title a {
	   font-size: 2rem;
	}
	#hgroup #site-description {
	  font-size: 1.6rem;
		color: #fff !important;
	}
	/*#hgroup #site-title {
	   color: #fff;
	   position: absolute;
	   top: 10px;
	}*/
	#hgroup #site-title a {
		color: #fff !important;
	}
	#header-content {
		position: static !important;
	}
	aside#secondary {
		width: 100vw;
	}
}
@media screen and (min-width: 961px) {
	#header-content {
	    position: absolute !important;
	    top: 10px !important;
	}
	#hgroup #site-title a, #hgroup #site-description {
	   color: #fff;
	}
	#site-header-menu-primary {
		position: absolute;
		top: 390px;
	  right: 80px;
	}
	nav#access {
		background: none;
		border: none !important;
	}
	#branding ul.menu li {
		border-right: none !important;
		border-left: none !important;
	}
	div.logo-wrap {
		position: relative;
	  top: 133px;
	}

}

.clearfix {
  width: auto !important;
}

footer#colophon {
	position: relative;
	border-top: none;
}
#third.widget-area {
	position: absolute;
  bottom: 0px;
}
#third.widget-area .widget, img[class*="wp-image-"].no-border, section.widget_media_image {
	border: none;
}
section.widget_media_image {
	background-color: transparent;
}
#diary hr {
	margin-top: 30px;
}
.diaryDate, .diaryQuickAccessLink {
	font-weight: bold;
}

h2.widget-title a {
	font-weight: inherit;
}
.widget-area {
	font-size: 15px !important;
	background-color: #6ac4e4;
}
footer#colophon .widget-area#third, footer#colophon .widget-area#third > aside {
	background-color: transparent;
	margin-bottom: 0;
}
.widget a.widgetEntryTitle {
	text-decoration: underline;
	display: block;
}

.widget a.widgetEntryText:hover {
	text-decoration: none;
}
/*#diary_widget-2 {
	background: url(images/innerFrame1.png) no-repeat center center;
	background-size: contain;
}
#diary_widget-3 {
	background: url(images/innerFrame2.png) no-repeat center center;
	background-size: contain;
}
#recent-comments-2 {
	background: url(images/innerFrame3.png) no-repeat center center;
	background-size: contain;
}*/

aside#secondary section.widget:not(.widget_media_image) {
	position: relative;
  border: 3px solid #07ade3;
  width: 95%;
  padding: 20px 25px 20px 20px;
  margin: 30px auto;
  border-radius: 0;
	box-sizing: border-box;
	background-color: #000;
}
aside#secondary section.widget.widget_diary_widget::before, aside#secondary section.widget.widget_recent_comments::before, aside#secondary section.widget.widget_stories_widget::before {
	content: '';
	position: absolute;
	top: 35px;
	right: -3px;
	/*background: url(images/sectionInsideBumpA.png) no-repeat;*/
	width: 15px;
	height: 98px;
}

section.widget div, section.widget h2, section.widget ul {
	width: 90%;
	margin: auto;
	box-sizing: border-box;
}
section.widget ul {
	min-height: 144px;
	list-style: none;
}

/* forms changes */
.entry-content form.hugeit_form > div > div > h3 {
	display: none !important;
}
.entry-content form.hugeit_form .hugeit-contact-column-block > div > label, .entry-content form.hugeit_form > div .radio-block, .entry-content form.hugeit_form > div .checkbox-block {
	float: right !important;
}
.entry-content #hugeit-contact-wrapper_3  div.multicolumn .hugeit-contact-column-block {
	width: 94%;
}
.entry-content form.hugeit_form .hugeit-contact-column-block > div.buttons-block {
	text-align: left !important;
    width: 98% !important;
}
