:root 
{
	--meorot-article-background-color: white;
	--meorot-link-color: white;
	--meorot-seperator-image: url('./images/seperator.jpg');
	--meorot-global-color-primary:white;
	--selected-link-color:#f7941d;
}


article.page, article.stories_project, article.diary
{
	background-color:var(--meorot-article-background-color);
	padding:1%;
	border-radius:1%;
}
#sidebar
{
	background-color:var(--meorot-article-background-color);
}

{
	color:var(--meorot-link-color);
}


.powered-by,.widgetEntryTitle,.primary-navigation a:link, .primary-navigation a:visited,.widget-title a,a
{
	color:var(--meorot-link-color);
}
.primary-navigation a:hover
{
	color: var(--selected-link-color);
    background-color: #444444; 
	text-decoration:none;

}
.primary-navigation .current_page_item > a:first-child
{
	text-decoration:none;
	color: var(--selected-link-color);
    background-color: #444444; 
}
.widget_block:first-child::after
{
	background-image:var(--meorot-seperator-image);
	display: block;
    height: 84px;
    width: 226px;
    margin: auto; 
	content:"";
	background-repeat: no-repeat;
    background-position: center top;
	background-size: contain;
	    margin-top: 10%;
    margin-bottom: 10%;
}
.storiesList a,.entriesList a
{
	color: var(--meorot-global-color-primary);
}

body
{
	color: var(--meorot-global-color-primary);
}
.widgetEntryText
{
	color: var(--meorot-global-color-primary);
}